<div id="<%= dom_id alumno %>">
  <p>
    <strong>Nombre:</strong>
    <%= alumno.nombre %>
  </p>

  <p>
    <strong>Trabajo:</strong>
    <%= alumno.trabajo %>
  </p>

  <p>
    <strong>Calificacion:</strong>
    <%= alumno.calificacion %>
  </p>

</div>
